<!DOCTYPE html>
<html>
<head>
  <title>RR Depot Store</title>
  <%= stylesheet_link_tag    "scaffold" %>
  <%= stylesheet_link_tag    "rrdepot", :media => "all" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body id="store">
  <div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || "RR Depot Catalog" %>
  </div>
  <div id="columns">
    <div id="side">
      <a href="/">Home</a>
      <a href="/store">Store</a>
      <a href="/faq">FAQ</a>
      <a href="/contact">Contact</a>
      <a href="/about">About</a>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
