<!DOCTYPE html>
<html>
<head>
  <title>TransLate</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p><%= t('.title') %></p>
  <p><%= t('layouts.application.title') %></p>
  <p><%= t('.tit') %></p>
  <p><%= t('.hello') %></p>
<div id="" class="">

</div>
<div id="" class="">

</div>

<%= yield %>

</body>
</html>
